# Copy this file to terraform.tfvars and edit values locally.
# Do not commit terraform.tfvars.

aws_region      = "us-east-1"
ami_id          = "ami-0bb26f3c35206d22d"
instance_type   = "t2.micro"
enable_monitoring = true

instance_names = [
  "web-server",
  "app-server",
  "db-server"
]

common_tags = {
  Project = "terraform-aws-lab"
  Owner   = "your-name"
}
